[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "==11.1.0"
hy = "==0.15.0"
youtube-dl = "*"
ffmpy = "==0.2.2"
furl = "==1.0.1"
pygogo = "==0.12.0"
cachetools = "==2.1.0"

[requires]
python_version = "3.6"
